.vs/
.idea/

out/
build/
release/

node_modules/


.env
.env.*

static/extra/*.asar
static/extra/deno.exe
static/extra/ffmpeg.exe
static/extra/ffprobe.exe
static/extra/yt-dlp.exe

# Legacy local Yarn artifacts
.yarn/
