@import '@fontsource/momo-trust-display';
@import '@fontsource/momo-trust-sans/400.css';
@import '@fontsource/momo-trust-sans/600.css';
@import '@fontsource-variable/jetbrains-mono';
@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme {
	/**
	* Colors
	*/
	--color-gray-50: var(--color-zinc-50);
	--color-gray-100: var(--color-zinc-100);
	--color-gray-200: var(--color-zinc-200);
	--color-gray-300: var(--color-zinc-300);
	--color-gray-400: var(--color-zinc-400);
	--color-gray-500: var(--color-zinc-500);
	--color-gray-600: var(--color-zinc-600);
	--color-gray-700: var(--color-zinc-700);
	--color-gray-800: var(--color-zinc-800);
	--color-gray-900: var(--color-zinc-900);
	--color-gray-950: var(--color-zinc-950);

	--color-brand-50: #fef1f8;
	--color-brand-100: #fee5f3;
	--color-brand-200: #ffcae9;
	--color-brand-300: #ff9fd4;
	--color-brand-400: #ff63b6;
	--color-brand-500: #ff2790;
	--color-brand-600: #f01273;
	--color-brand-700: #d10558;
	--color-brand-800: #ad0749;
	--color-brand-900: #8f0c40;
	--color-brand-950: #580021;

	--color-brand-red-50: #ffe5eb;
	--color-brand-red-100: #ffccd6;
	--color-brand-red-200: #ff99ad;
	--color-brand-red-300: #ff6685;
	--color-brand-red-400: #ff335c;
	--color-brand-red-500: #ff0033;
	--color-brand-red-600: #cc0029;
	--color-brand-red-700: #99001f;
	--color-brand-red-800: #660014;
	--color-brand-red-900: #33000a;
	--color-brand-red-950: #190005;

	--color-accent-50: var(--accent-50);
	--color-accent-100: var(--accent-100);
	--color-accent-200: var(--accent-200);
	--color-accent-300: var(--accent-300);
	--color-accent-400: var(--accent-400);
	--color-accent-500: var(--accent-500);
	--color-accent-600: var(--accent-600);
	--color-accent-700: var(--accent-700);
	--color-accent-800: var(--accent-800);
	--color-accent-900: var(--accent-900);
	--color-accent-950: var(--accent-950);

	--color-accent-50-contrast: var(--accent-50-contrast);
	--color-accent-100-contrast: var(--accent-100-contrast);
	--color-accent-200-contrast: var(--accent-200-contrast);
	--color-accent-300-contrast: var(--accent-300-contrast);
	--color-accent-400-contrast: var(--accent-400-contrast);
	--color-accent-500-contrast: var(--accent-500-contrast);
	--color-accent-600-contrast: var(--accent-600-contrast);
	--color-accent-700-contrast: var(--accent-700-contrast);
	--color-accent-800-contrast: var(--accent-800-contrast);
	--color-accent-900-contrast: var(--accent-900-contrast);
	--color-accent-950-contrast: var(--accent-950-contrast);

	/**
	* Fonts
	*/
	--font-display: 'Momo Trust Display', sans-serif;
	--font-os: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--font-mono: 'JetBrains Mono Variable', monospace;
	--font-sans: 'Momo Trust Sans', sans-serif;

	/**
	* Animations
	*/
	--animate-hue-rotate: hue-rotate 5s linear infinite;

	@keyframes hue-rotate {
		from: {
			filter: hue-rotate(0deg);
		}
		to {
			filter: hue-rotate(359deg);
		}
	}

	--animate-pulse-glow: pulse-glow 2s ease-in-out infinite;

	@keyframes pulse-glow {
		from {
			box-shadow:
				-5px 0 10px rgba(255, 0, 51, 0.3),
				-10px 0 15px rgba(255, 0, 51, 0.15),
				5px 0 10px rgba(255, 39, 144, 0.3),
				10px 0 15px rgba(255, 39, 144, 0.15);
		}

		50% {
			box-shadow:
				-7px 0 12px rgba(255, 0, 51, 0.5),
				-12px 0 20px rgba(255, 0, 51, 0.25),
				7px 0 12px rgba(255, 39, 144, 0.5),
				12px 0 20px rgba(255, 39, 144, 0.25);
		}

		to {
			box-shadow:
				-5px 0 10px rgba(255, 0, 51, 0.3),
				-10px 0 15px rgba(255, 0, 51, 0.15),
				5px 0 10px rgba(255, 39, 144, 0.3),
				10px 0 15px rgba(255, 39, 144, 0.15);
		}
	}
}

@utility popup-* {
	box-shadow: inset 0 -2px 0 0 --value(--color-*);
}

@utility draggable {
	-webkit-app-region: drag;
}

:root {
	color-scheme: dark;
}

* {
	@apply outline-none;
}

body {
	@apply select-none;
}

a,
button {
	@apply cursor-pointer;
}
