@config '../../../tailwind.config.ts';
@import '@fontsource-variable/noto-sans';
@import '@fontsource-variable/noto-sans-mono';
@import 'tailwindcss';

@utility popup-* {
	box-shadow: inset 0 -2px 0 0 --value(--color-*);
}

@utility styled-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: #fff #000;
	scroll-behavior: smooth;
}

@theme {
	--animate-setup-bg: setupBg 10s ease-in-out infinite alternate;

	@keyframes setupBg {
		from {
			background-position: 0% 0%;
		}
		to {
			background-position: 100% 0%;
		}
	}
}

:root {
	color-scheme: dark;
}

* {
	@apply outline-none;
}

body {
	@apply select-none;
}

button {
	@apply cursor-pointer;
}

a {
	@apply text-brand-500 hover:text-brand-600 active:text-brand-700;
	@apply transition-colors;
}
